<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:position="http://www.w3.org/1999/xhtml">

<head th:fragment="header-css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css/}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <title th:text="Company-Employee CRM"></title>
</head>

<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-bg-gradient-info bg-gradient-info">
        <a class="active" href="/home"><i class="fa fa-fw fa-home" style="position:relative; left:25px; color: white"></i></a>
        <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarNavAltMarkup" >
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" style="position:relative; left:45px;" >
                        <a href="/companies/" th:text="Companies" style="color: white"></a>
                    </li>
                    <li class="nav-item" style="position:relative; left:65px;">
                        <a class="active" th:href="@{/employees}" th:text="Employees" style="color: white"></a>
                    </li>
                    <li class="nav-item" style="position: relative; left:85px;">
                        <a class="active" th:href="@{/login}" th:text="Admin" style="color: white"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>

</html>