<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/cards.css">
    <title>
        All Companies
    </title>
</head>
<div th:replace="fragments/header :: header"></div>

<body th:if="${!companies.isEmpty()}">
<div class="row">
    <div class="container" th:each="company :${companies}" style="gap: 15px">
        <div class="column">
            <div class="card">
                <div class="card__body">
                    <div class="card-text">
                        <h3>
                            <a class="link" th:href="@{'/companies/'+ ${company.getId()}}"
                               th:text="${company.getName()}" style="color: black"></a>
                        </h3>
                    </div>
                    <p class="card-text" th:text="${'Email: '+company.getEmail()}"></p>
                    <p class="card-text" th:text="${'Website: '+company.getWebsite()}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>