<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700"/>
    <link rel="stylesheet" href="/css/cards.css">
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link href="/css/button.css" rel="stylesheet">
    <link href="/css/header2.scss" rel="stylesheet">
    <link href="/css/cards.css" rel="stylesheet">
    <title>Company</title>
</head>
<body style="width: 400px">
<div th:replace="fragments/header :: header"></div>
<div class="container" th:if="${!company.isEmpty()}" style="position:relative; top: 0; width: 400px">
    <div class="card" style="width: 600px; height: 800px">
        <img src="/static/images/logo1_google.jpg" alt="image"
             style="width: 200px; height: 200px">

        <div class="card__body">
            <div class="row">
                <h1 th:text="${company.get().getName()}"></h1>
            </div>
            <p class="card-text" th:text="${'Email: '+company.get().getEmail()}"></p>
            <p class="card-text" th:text="${'Website: '+company.get().getWebsite()}"></p>
            <div class="card-text">
                <a class="active" th:href="@{'/companies/'+${company.get().getId()}+'/employees'}"
                   th:text="Employees" style="color: black"></a>
            </div>
        </div>
        <div class="row">

            <a class="button-success"
               th:text="'Add Employee'"
               th:href="@{'/companies/'+${company.get().getId()}+'/employee/add'}">
            </a>

            <a class="button-delete"
               th:href="@{'/companies/'+${company.get().getId()}+'/delete'}">Delete
            </a>

            <a class="button-edit"
               th:href="@{'/companies/'+${company.get().getId()}+'/edit'}">Edit
            </a>

        </div>
    </div>
</div>

</body>

</html>