<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/WebPage">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700"/>
    <link rel="stylesheet" href="/css/cards.css">
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link href="/css/forms.css" rel="stylesheet">
    <link href="/css/button.css" rel="stylesheet">
    <title>
        Edit Company
    </title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<form style="position: relative; left: 35%; top: 25%" th:object="${company}"
      th:action="@{'/companies/'+${companyId}+'/update'}" method="POST" class="text-start"
      enctype="multipart/form-data" role="form">
    <div class="row">
        <div class="my_container">
            <div class="title">Edit Company</div>
            <div class="input-container ic1">
                <input id="name" th:value="${company.getName()}" th:field="${company.name}" class="input" type="text"
                       placeholder=" "/>
                <div class="cut"></div>
                <label for="name" class="placeholder">Name</label>
            </div>
            <div class="input-container ic2">
                <input id="email" th:value="${company.getEmail()}" th:field="${company.email}" class="input" type="text"
                       placeholder=" "/>
                <div class="cut"></div>
                <label for="email" class="placeholder">Email</label>
            </div>
            <div class="input-container ic2">
                <input id="website" th:value="${company.getWebsite()}" th:field="${company.website}" class="input"
                       type="text" placeholder=" "/>
                <div class="cut"></div>
                <label for="website" class="placeholder">Website</label>
            </div>
            <div class="text-center" style="position: relative; bottom: -3%">
                <button type="submit" class="button-success">Edit</button>
                <button type="reset" class="button-delete">Reset</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>


