<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/cards.css">
    <title>
        All Employees
    </title>
</head>
<div th:replace="fragments/header :: header"></div>

<body th:if="${!employees.isEmpty()}">
<div class="row">
    <div class="container" th:each="employee :${employees}" style="column-gap: normal">
        <div class="column">
            <div class="card">
                <div class="card__body">
                    <div class="card-text">
                        <h3>
                            <a class="link"
                               th:href="@{'/companies/'+ ${employee.getCompany().getId()}+'/employees/'+${employee.getId()}}"
                               th:text="${employee.getName()}+' '+${employee.getSurname()}" style="color: black"></a>
                        </h3>
                    </div>
                    <p class="card-text" th:text="${'Email: '+employee.getEmail()}"></p>
                    <p class="card-text" th:text="${'Contact: '+employee.getPhone_number()}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>